@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  background: #f9fafb;
  color: black;
}

a {
  text-decoration: none !important;
  color: currentColor !important;
}

button {
  border: none;
}

svg {
  height: 18px;
  width: 18px;
}
